<html>
<head>
    <meta charset="UTF-8">
    <title>Image Resize & Crop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/<%= name %>.css"/>
</head>
<body>
    <div class="container">
        <h1>Crop Resize</h1>
        <form action="">
            <div class="row content">
                <div class="col-xs-12 col-xs-9">
                    <div class="embed-responsive embed-responsive-16by9" data-drag-drop-target data-cropresize-target>
                    </div>
                </div>
                <div class="col-xs-12 col-xs-3">
                    <div class="preview">
                        <img src="" alt="" data-cr-preview/>
                    </div>
                    <label class="btn btn-primary btn-lg upload-btn">
                        <input id="file-uploader" type="file"/>
                    </label>
                </div>

            </div>
        </form>
    </div>
    <script src="./js/<%= name %>.min.js"></script>
    <script type="application/javascript">
        var cropArea     = document.querySelector('[data-cropresize-target]'),
            cropResize   = CropResize(cropArea, {
                 fileInput       : document.querySelector('input#file-uploader[type="file"]'),
                 dropArea        : document.querySelector('[data-drag-drop-target]'),
                 previewElement  : document.querySelector('[data-cr-preview]')
            });
    </script>
</body>
</html>